{% extends "base.html" %} 
{% load static %}

	<title>Car List</title>
	{% block title %}Car List{% endblock title %} 



{% block content %}


<header>


  <div class="container h-100" style= "background-image: url({% static "video.mp4" %}); background-size: cover; padding-bottom: 30px" >
  <div class="w-100 text-white">
        <h1 class="display-4" style="padding-top:10px; font-family: Futura;">Car Market</h1>
        <p class="lead mb-0"></p>




            <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <p class="lead mb-0"></p>
      </div>
    </div>
  </div>
</header>




<div style= "padding-top: 30px" class="card-deck">
    


	{% for car in cars %}



		<div class="card">





				<a href="{{car.get_absolute_url}}">


					    {% if car.car_img %}

					       <img style="height: 250px" src ="{{car.car_img.url}}">

					    {% endif %}
		<br>
		<br>

			    
							<div class="card-body">
							    <h5 class="card__title"> {{car.make}} </h5>
							    <h6 class="card-text" style="color: #d1000a;">{{car.model}} - {{car.year}}</h6>

							  </div>
							</div>





					
					</a>
		<br>
		<br>






	{% endfor %}

  </div>

{% endblock content %}
